body {
    font-size: 1.1rem !important;
}

#footer {
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
    width: 100%;
    background-color: #f8f9fa;
    margin: 0px !important;
}

.footer-links {
    color: #4d4d4d;
    text-decoration: underline;
}

.footer-links:hover {
    text-decoration: none;
    color: #4d4d4d;
}

.footer-tagline {
    color: black;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.menu-item {
    display: inline;
    padding: 0.375em 9px;
}

.menu {
    padding: 0px;
}

.container {
    min-height: calc(100vh - 115px);
    padding-top: 5rem;
}

#root {
    height: 100%;
    margin: 1rem 0;
}

.nav-item {
    color: rgba(0,0,0,.5) !important;
}

.nav-link {
    color: #000000 !important;
}

.current-page {
    border-bottom: 2px solid #918c8d !important;
}

.navbar-nav:hover {
    border-bottom: 2px solid #bc1f40 !important;
}

.disabled {
    cursor: not-allowed !important;
}

.navbar-btn, .custom-btn {
    border: 0px;
    background-color: transparent;
}

.custom-btn {
    color: #2155e4;
}

#loadingAnimation {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.5);
    z-index:9999;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#loadingAnimation::after {
    content:'';
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:#585858;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.search-label {
    font-weight: bold;
    color: #868484;
}

#search1, #search2, #search3, #search4 {
    width: 100%;
}

.form-row {
    padding-left: 10px;
}

.notification {
    position: absolute; 
    top: 2rem; 
    right: -5rem; 
    z-index: 9;
}

.dropdown-btn {
    background-color: transparent !important;
    border: 0px;
    width: 100%;
    text-align: left;
}

.error-heading {
    color: #ff0000;
}

.allow-overflow {
    overflow: auto;
}

.fa-user-minus {
    cursor: pointer;
}

body {
    scroll-behavior: smooth !important;
}

#contentHeader {
    margin-bottom: 16px;
}

#selectParticipant {
    width: 100%;
}

.remove-margin {
    margin: 0px !important;
    padding: 5px 3px !important;
}

.info-box {
    border: 0.5px solid #000000bd;
    border-radius: 0.25rem;
    text-align: center !important;
}

.full-width {
    width: 100%;
}

.fa-check {
    color: #76c457bf;
}

.fa-times {
    color: #ff00009e;
}

.info-row {
    margin-bottom: 10px;
}

.form-error {
    color: red;
    font-size: small;
}

.error-text {
    padding-left: 5px !important;
    width: 100%;
}

.invalid {
    border-color: #dc3545 !important;
}

.collection-table {
    width: 100% !important;
    text-align: center;
    margin-bottom: 2rem;
}

.collection-table tbody tr {
    height: 80px;
}

#finalizeTable {
    text-align: left;
}

#finalizeForm, #specimenLookupForm {
    width: 100%;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.custom-checkbox-size {
    height: 30px;
    width: 30px;
}

.welcome-screen-btn-div {
    margin-top: 2rem;
}

.welcome-screen-div {
    margin-top: 1rem;
}

#interactive.viewport {
    position: relative; 
    width: 100%; 
    height: auto; 
    overflow: hidden; 
    text-align: center;
}

#interactive.viewport > canvas, #interactive.viewport > video {
    max-width: 100%;
    width: 100%;
}

canvas.drawing, canvas.drawingBuffer {
    position: absolute; 
    left: 0; 
    top: 0;
}

.barcode-btn {
    background-color: transparent;
    border: 0px;
    float: right;
    margin-right: -30px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 4px;
    padding-bottom: 4px;
}

.barcode-btn-collect-process {
    background-color: transparent;
    border: 0px;
    float: right;
    margin-right: -30px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 4px;
    padding-bottom: 4px;
}

.barcode-btn-outside, .barcode-input-clear {
    background-color: transparent;
    border: 0px;
    float: right;
    margin-right: 6px;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 4px;
    padding-bottom: 4px;
}

.deviation-comments-width {
    max-width: 120px;
}

.active {
    background-color: #bbcffc85 !important;
}

.inherit-width {
    width: 100%;
}